.bottom-menu {
  background-color: #333;
  width: 42em;
  margin: 0.2em auto;
  margin-bottom: 0px;
  padding: 0 .2em;
  border-radius: 0 0 1em 1em;
  box-shadow: 0px 16px 30px 0px #200;
}

.bottom-menu .button {
  width: 140px;
  height: 27px;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0.5em;
}

.bottom-menu__text {
  display: inline-block;
  float: left;
  font-size: 20px;  
  color: #bbb;
  margin: 0 0em 0 1.5em;
}

.bottom-menu__footer .bottom-menu__text{
  margin-right: 0.5em;
}