.top-menu {
  background-color: #333;
  max-width: 38em;
  display: block;
  margin: 0.2em auto;
  margin-bottom: 0px;
  padding: .3em .2em;
  border-radius: 1em 1em 0 0;
  box-shadow: 0px 16px 30px 0px #200;
}

.top-menu__text {
  display: inline-block;
  font-size: 20px;  
  color: #ddd;
  margin: 0 1.5em 0 0.5em;
}